*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    background-color: black;
    position: absolute;
}

.carousel{
    position: relative;
}

.navfondo{
    background-color: rgba(82, 77, 77,0.6);
    font-weight: bold;
}

.style_nosotros{
    background-color:grey;
    color: white;
    border-radius: 10px;
    height: 50vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:rgba(81, 75, 75, 0.5);
    color:white;
    margin: 15%;
    margin-left: 35%;
    /* border-radius: 20px solid black; */
    position: fixed;
    z-index: 10;
}

.ocultar{
    display: none;
}