*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    background-color: bisque;
}

.navfondo{
    background-color: rgba(82, 77, 77,0.6);
    font-weight: bold;
}

.style_nosotros{
    background-color:grey;
    color: white;
    border-radius: 10px;
    height: 50vh;
}